.image{
    background: url('../images/background.jpg');
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: 40px 50px;
}