p {
  display: inline;
  position: relative;
}

p::before {
  content: "This is the before pseudo element. ";
  color: blue;
}

p::after {
  content: " This is the after pseudo element.";
  color: red;
}

/* p::after {
  content: "";
  background: red;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 20px;
} */
