* {
  box-sizing: border-box;
}

.parent {
  background: cornflowerblue;
  padding: 10px;
  font-size: 1.5rem;
}

.child-one {
  background: greenyellow;
  position: static;
  padding: 10px;
}

.child-two {
  background: blueviolet;
  padding: 10px;
}

.parent {
  position: relative;
}

.child-three {
  background: red;
  padding: 10px;
}

/* Scroll and edit here */
.child-one {
}

.child-two {
}

.child-three {
}
