h1 {
  background: purple;
  color: white;
}

h1:hover {
  transform: translateX(100px);
}

.ease {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.linear {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.ease-in {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.ease-out {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.ease {
  transition: all 0.2s;
}
